body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

p{
  line-height: 1.5;;
}

li{
  line-height:1.9;
}

h1 {
    background-color: skyblue;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#myBtn {
    position: absolute;
    margin-top: 300px;
    margin-left: 320px;
    font-size: 15px;
}

#myBtnTwo{
  position: absolute;
  margin-top: 300px;
  margin-left: 148px;
  font-size: 15px;
}

.modal-content {
    height: auto;
    overflow: auto;
    line-height: 1.2;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 40%;
}

.modal-contenttwo {
    height: auto;
    overflow: auto;
    text-align: center;
    line-height: 1.2;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 20%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#GameName {
    font-family: "Keraleeyam";
    font-size: 70px;
    position: absolute;
    top: 45px;
    left: 50px;
}

#Config {
    display:none;
    position: absolute;
    text-align: center;
    top: 460px;
    left: 150px;
    width: 250px;
    font-size: 15px;
}


#ConfigColor {
    position: absolute;
    text-align: center;
    top: 350px;
    left: 150px;
    width: 250px;
    font-size: 15px;
}

#ConfigButtons1 {
    position: absolute;
    text-align: center;
    top: 480px;
    left: 150px;
    width: 250px;
    font-size: 15px;
}

#ConfigButtons2 {
    position: absolute;
    text-align: center;
    top: 590px;
    left: 150px;
    width: 250px;
    font-size: 15px;
}

.Rules {
    display: none;
    position: absolute;
    line-height: 2.0;
    top: 400px;
    left: 50px;
    font-size: 15px;
}

#Access {
    position: absolute;
    top: 50px;
    left: 1330px;
}

#Welcome{
    position: absolute;
    top: 75px;
    left: 1330px;
    font-size: 20px;
}

#Status {
    display: none;
    font-size: 23px;
    position: absolute;
    top: 130px;
    left: 830px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    background-color: skyblue;
    border-radius: 3px;
}


#DiscosB {
    display: none;
    position: absolute;
    top: 200px;
    left: 760px;
    text-align: left;
}

#DiscosP {
    display: none;
    position: absolute;
    top: 200px;
    left: 920px;
    text-align: left;
}

#PlayerTurn {
    font-size: 30px;
    display: none;
    position: absolute;
    width:200px;
    top: 520px;
    left: 1330px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: skyblue;
}

#Skip {
    font-size: 23px;
    width:496px;
    display: none;
    position: absolute;
    top: 850px;
    left: 650px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: skyblue;
}

#SkipServer {
    font-size: 23px;
    width:496px;
    display: none;
    position: absolute;
    top: 850px;
    left: 650px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: skyblue;
}

#Winner {
    font-size: 23px;
    display: none;
    position: absolute;
    top: 820px;
    left: 650px;
    width: 496px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: skyblue;
}


#Statistics {
  display: none;
  position: absolute;
  top: 300px;
  left: 1330px;
  width: 200px;
  height: 140px;
  border: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: skyblue;
  border-radius: 3px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    top: 270px;
    left: 650px;
    width: 496px;
    height: 496px;
    border: 1px solid black;
}

.square {
    width: 60px;
    height: 60px;
    background-color: skyblue;
    border: 1px solid black;
    cursor: pointer;
}

.squareB {
    width: 60px;
    height: 60px;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
}

.squareW {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}



table {
  border: 1px solid skyblue;
  padding: 12px;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

th {
  padding: 3px;
  border-bottom: 1px solid skyblue;
}

td {
  padding: 3px;
  border-bottom: 1px solid skyblue;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
